.calculator-section {
  padding: 2rem 0;
}

.section-title {
  text-align: center;
  margin: 0 2rem 2rem;
}

.section-title h1 {
  margin-bottom: 1rem;
  letter-spacing: 0.25rem;
  color: var(--primary-color);
}

img {
  height: 10rem;
}
